In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("Death.csv")
# Drop the missing values rows
df = df.dropna()
df.head(10)

,_id,NEIGHBORHOOD,BLACKdeaths,Black MD AGE AT DEATH,WHITEdeaths,White MD AGE AT DEATH,TOTALdeaths*,TOTAL MD AGE AT DEATH
0,1,SOUTH SHORE,0.0,0.0,0.0,0.0,0.0,0.0
4,5,SAINT CLAIR,5.0,67.5,5.0,67.5,10.0,67.5
5,6,WEST END,5.0,76.7,9.0,78.0,14.0,77.5
7,8,ARLINGTON HEIGHTS,10.0,55.0,7.0,72.5,17.0,63.7
8,9,STRIP DISTRICT,7.0,76.7,12.0,70.0,19.0,72.5
9,10,FAIRYWOOD,11.0,62.5,9.0,42.5,21.0,53.3
11,12,MOUNT OLIVER NEIGHBORHOOD,9.0,67.5,17.0,80.0,26.0,75.0
12,13,EAST CARNEGIE,9.0,72.5,18.0,81.0,27.0,80.0
14,15,CALIFORNIA-KIRKBRIDE,16.0,70.0,10.0,70.0,30.0,69.3
15,16,CHARTIERS CITY,20.0,70.0,15.0,81.2,35.0,76.9